.menu-container {
    margin-top: 20px; /* Agrega un margen superior para separar del nombre de la empresa */
    background-color: #f0f0f0; /* Fondo del menú */
    padding: 10px; /* Espacio entre el contenido y el borde del menú */
    border-bottom: 1px solid #ccc; /* Borde inferior del menú */
  }
  
  .menu-container ul {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Crea un menú horizontal */
    justify-content: space-between; /* Distribuye los elementos de lista de manera uniforme */
  }
  
  .menu-container li {
    margin-right: 20px; /* Espacio entre los elementos de lista */
  }
  
  .menu-container a {
    color: #337ab7; /* Color del texto de los enlaces */
    text-decoration: none; /* Quita la decoración de los enlaces */
  }
  
  .menu-container a:hover {
    color: #23527c; /* Color del texto de los enlaces al pasar el mouse */
  }