<nav class="menu-container">
    <ul>
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/nosotros">Nosotros</a></li>
      <li><a routerLink="/noticias">Noticias</a></li>
    </ul>
  </nav>
