<app-logo></app-logo>
<app-nombre-empresa></app-nombre-empresa>
<app-menu></app-menu>
<div class="about-container">
  <h2>Nuestra empresa</h2>
  <p>¿Estás buscando mejorar tu salud y bienestar general? ¿Te apasionan los deportes y buscas estar al día con las últimas noticias y tendencias? ¡En Tu Portal Integral de Deportes y Salud encontrarás todo lo que necesitas para alcanzar tus objetivos!</p>
  <h3>¿Qué ofrecemos? 
    
    En nuestro sitio web encontrarás una amplia variedad de contenido relacionado con deportes y salud, incluyendo:

    Artículos informativos: Escritos por expertos en salud y deporte, te brindarán información actualizada sobre diversos temas como:</h3>
  <ul>
    <li>Nutrición y alimentación saludable</li>
    <li>Entrenamiento y rutinas de ejercicio</li>
    <li>Prevención de lesiones</li>
    <li>Psicología deportiva</li>
  </ul>
</div>
<app-avatar></app-avatar>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<router-outlet></router-outlet>
