.company-name-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }